# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
*.log

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Base de datos
db.sqlite

# Sistema
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Pruebas
coverage/